#First_slide{
	background-color: rgb(22, 21, 21);
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}
#slide_img{
	display: inline-block;
	width: 1000px;
	height: 100%;
	background-color: whitesmoke;
}
#First_slide img{
	height: 200px;
}
#contents{
	position: relative;
	display: inline-block;
	width: 900px;
	height: 100%;
}