#First_slide {
	background-color: rgb(22, 21, 21);
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}

#slide_img {
	display: inline-block;
	width: 1000px;
	height: 100%;
	background-color: whitesmoke;
}

#First_slide img {
	height: 200px;
}

#contents {
	position: relative;
	display: inline-block;
	width: 1000px;
	height: 100%;
}

.main_content {
	margin-bottom: 20px;
}

.main_content h1,
.main_content h2 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.contents_column {
	position: relative;
	display: inline-block;
	box-sizing: borcder-box;
	width: 100%;
	height: 280px;
	border-bottom: 1px solid #f6f6f6;
	margin-bottom: 20px;
}


.content_thumbnail {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	height: 260px;
	width: 180px;
	margin: 0px 5px 0px 5px;
	padding: 5px 5px 5px 5px;
	border: solid 1px #e6e6e6;
}

#Second_content {
	position: relative;
	display: inline-block;
	height: 350px;
}

.content_thumbnail a {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#Second_content .content_thumbnail {
	height: 95%;
	width: 250px;
	margin: 0px 15px 0px 15px;
	background-color: white;
	border: solid 2px #e6e6e6;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

}

#Second_content .content_thumbnail:hover {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
}

#Second_content .thumbnail_description {
	border-radius: 0px 0px 20px 20px;
}

.article_items .content_thumbnail {
	border-radius: 5px 5px 5px 5px;
}

.article_items .thumbnail_description {
	border-radius: 0px 0px 5px 5px;
}

.thumbnail_img {
	content: '';
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 95%;
	height: 60%;
	background-size: cover;
	padding: 2px 2px 2px 2px;
}

.thumbnail_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.article_items .thumbnail_img {
	background-image: url(../img/images.svg);
}

.thumbnail_description {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 40%;
	padding: 5px 5px 5px 5px;
	/*background-color: rgb(206, 206, 206);*/
	word-wrap: break-word;

}

.label_contents_column {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: left;
	font-size: 26px;
	padding-left: 10px;
	padding-right: 10px;

}

#header {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 150px;
	background-color: #111111;
}