:root {
	/*マップ幅高さの変数化*/
	--map-size-width: 800px;
	--map-size-height: 800px;
}

.Map_size {
	width: var(--map-size-width);
	height: var(--map-size-height);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pref_images {
	visibility: hidden;


	/* filter: hue-rotate(10deg);*/

	filter: saturate(70%)brightness(140%);


}

#map_element {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	margin-top: 10px;
	width: var(--map-size-width);
	height: var(--map-size-height);
	top: 0px;
	left: 0px;
}

.pref_label {
	position: absolute;
	cursor: pointer;
	transform: translate(-50%, -50%);
}

.pref_label > p {
	line-height: 1;
	margin: 0;
}




#capital:hover + #pref13 {
	background-color: antiquewhite;
}



#Tokyo {
	position: absolute;
	top: 58.5%;
	left: 88%;
	transform: translate(-50%, -50%);
}

#Kyoto {
	position: absolute;
	top: 44%;
	left: 49%;
	transform: translate(-50%, -50%);
}

#map {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: var(--map-size-width);
	height: auto;
}

#maptitle {
	font-size: 26px;
	border-bottom: 1px solid #ee0044;
	margin-bottom: 2px;
}

/*----------------------------レスポンシブ--------------------------------*/
@media screen and (max-width: 1200px) {

	/*マップ幅高さの変数化*/
	:root {
		--map-size-width: 650px;
		--map-size-height: 650px;
	}
}

@media screen and (max-width: 750px) {

	/*マップ幅高さの変数化*/
	:root {
		--map-size-width: 600px;
		--map-size-height: 600px;
	}
}

@media screen and (max-width: 550px) {

	/*マップ幅高さの変数化*/
	:root {
		--map-size-width: 500px;
		--map-size-height: 500px;
	}
}

#national {
	filter: contrast(60%);
}

#Aomori {

	top: 11%;
	left: 64%;
}

#Hokkaido {
	top: 30%;
	left: 40%;
}

#Miyagi {
	top: 33%;
	left: 94%;
}

#Iwate {
	top: 15%;
	left: 75%;
}

#Akita {
	top: 19%;
	left: 71%;
}

#yamagata {
	top: 22%;
	left: 69%;
}

#Fukushima {
	top: 38%;
	left: 94%;
}

#Ibaraki {
	top: 46%;
	left: 91%;

}

#Tochigi {
	top: 42%;
	left: 92%;
}

#Gunma {
	top: 62%;
	left: 72%;
}

#Saitama {
	top: 50%;
	left: 91%;

}

#Chiba {
	top: 55%;
	left: 89.5%;
}

#Kanagawa {

	top: 62.5%;
	left: 87%;
}

#niigata {
	top: 27%;
	left: 69%;
}

#Toyama {
	top: 32%;
	left: 62%;
}

#Ishikawa {

	top: 36%;
	left: 58%;

}

#Fukui {
	top: 41%;
	left: 52%;

}

#Yamanashi {
	top: 67%;
	left: 88%;
}

#Shizuoka {
	top: 67%;
	left: 69%;
}

#Nagano {
	top: 30%;
	left: 67%;
}

#Gifu {
	top: 75%;
	left: 61%;
}

#Aichi {
	top: 70%;
	left: 66%;
}

#Mie {
	top: 80%;
	left: 61%;
}

#Shiga {
	top: 46%;
	left: 53%;
}

#Osaka {
	top: 71%;
	left: 46%;
}

#Hyogo {
	top: 45%;
	left: 43%;
}

#Nara {
	top: 84%;
	left: 53%;

}

#Wakayama {
	top: 75%;
	left: 49%;
}

#Tottori {
	top: 49%;
	left: 40%;
}

#Okayama {
	top: 43%;
	left: 37%;
}

#Shimane {
	top: 46%;
	left: 31%;
	
}

#Hiroshima {
	top: 50%;
	left: 26%;
}

#Yamaguchi {
	top: 53%;
	left: 22%;
}

#Tokushima {
	top: 77%;
	left: 44%;
}

#kagawa {

	top: 80%;
	left: 40%;
}

#Ehime {
	top: 80%;
	left: 31%;
}

#Kochi {

	top: 83%;
	left: 36%;
}

#Fukuoka {
	top: 57%;
	left: 17%;
}

#Saga {
	top: 52%;
	left: 9%;
}

#Nagasaki {
	top: 68%;
	left: 3%;
}

#Kumamoto {
	top: 77%;
	left: 7%;
}

#Oita {
	top: 85%;
	left: 28%;
}

#Miyazaki {
	top: 91%;
	left: 25%;
}

#Kagoshima {
	top: 86%;
	left: 6%;
}

#Okinawa {
	top: 86%;
	left: 85%;
}


#wideNationM {
	visibility: hidden;
}
