html {
   width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-size: 1vmin;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    box-sizing: border-box;
    
}

#main_part {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: aqua
}


