.Map_size {
    width: 750px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pref_images {
    visibility: hidden;
}

#map_element {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 750px;
    height: 750px;
    top: 0px;
    left: 0px;
}

.pref_label {
    position: absolute;
    cursor: pointer;
}

.pref_label > p {
    line-height: 1;
    margin: 0;
}


#Tokyo {
    top: 52%;
    left: 77%;
    transform: translate(-50%, -50%);
}

#capital:hover + #pref13 {
    background-color: antiquewhite;
}

@media screen and (min-width: 750px) {}

#Kyoto {
    top: 56%;
    left: 51%;
    transform: translate(-50%, -50%);
}

#map {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 750px;

}

#maptitle {
    font-size: 26px;
    border-bottom: 1px solid #ee0044;
    margin-bottom: 2px;
}
